<div class="container">
    <pre>{{login | json}}</pre>
    <form class="row" #formLogin="ngForm" (ngSubmit)="click(formLogin.form.invalid)">
        <form-input 
            class="col-12 col-sm-6 mt-3 mt-sm-0" label="Username" type="text" 
            name="username" id="username" [(data)]="login.username" 
            [required]="true" [maxlength]="10" [minlength]="5">
        </form-input>
        
        <form-input 
            class="col-12 col-sm-6 mt-3 mt-sm-0" label="Password" type="password" 
            name="pass" id="pass" [(data)]="login.pass" [required]="true" 
            [maxlength]="10" [minlength]="5">
        </form-input>

        <div class="col-12 mt-3">
            <app-button 
                type="submit" id="btnLogin" className="btn-primary" 
                label="LOGIN" [disabled]="formLogin.form.invalid">
            </app-button>
        </div>
    </form>
</div>